.cards{
  display:flex;
  gap:20px;
  flex-wrap: wrap;
}
.container{
  width:900px;
}
.poke-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  border:2px solid #eee;
  border-radius:5px;
  cursor:pointer;
}
img{
  width:200px;
  height:200px;
}
.poke-container:hover{
  border:2px solid black;
  border-radius:5px;
}
.scorecard{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:5px;
  font-size: 20px;
}
.scorecard div{
 justify-self: center;
}