@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}
.cards{
  display:flex;
  gap:20px;
  flex-wrap: wrap;
}
.container{
  width:700px;
}
.poke-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  border:2px solid #eee;
  border-radius:5px;
  cursor:pointer;
}
img{
  width:200px;
  height:200px;
}
.poke-container:hover{
  border:2px solid black;
  border-radius:5px;
}
.scorecard{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:5px;
}
.scorecard div{
 justify-self: center;
}