@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin:0;
  padding:0;
}
#root{
  margin-top:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}